.icon-class {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.img__overlay {
  transition: 0.45s;
  letter-spacing: 4px;
}

.img__overlay > * {
  transform: translateY(-1.25rem);
  transition: .15s ease-out;
}

.img__overlay:hover > * {
  transform: translateY(0rem);
}
